<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
   <span v-if="currentType == 'username'">用户名</span>
    <span v-if="currentType == 'email'">用户邮箱</span>
    <input type="text"> </input>
    <button @click="btnClick"> 切登录方式</button>
</div>
<script src="../js/vue.js"></script>
<script>
    let app = new Vue({
        el: "#app",
        data: {
           currentType: "username",
        },
        methods:{
            btnClick(){
                if (this.currentType == "username" ){
                    this.currentType="email"
                }
                else if (this.currentType == "email" ){
                    this.currentType="username"
                }
            }
        }
    })
</script>
</body>
</html>